.vertical-timeline-element-icon.bounce-in {
  box-shadow: none;
  background-color: var(--line-color);
}

.vertical-timeline-element-content.bounce-in {
  box-shadow: none;
  background: none;
  border: 2px solid hsl(var(--heroui-default-300) / 1);
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: none;
}
