@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../**/*.{js,ts,jsx,tsx,mdx}';
@custom-variant dark (&:is(.dark *));

@theme {
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

@utility animate-shine {
  background: linear-gradient(
    120deg,
    var(--color-gray-50) 40%,
    var(--color-gray-800) 50%,
    var(--color-gray-50) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 2s linear infinite;
}

@utility scrollable {
  @apply scrollbar-thin;
  @apply overflow-auto;
}

:root {
  --swiper-pagination-color: hsl(var(--heroui-primary));
  --swiper-pagination-bullet-inactive-color: hsl(var(--heroui-default-900));
}

.dark {
  --swiper-pagination-color: hsl(var(--heroui-primary));
  --swiper-pagination-bullet-inactive-color: hsl(var(--heroui-default-900));
}

.window-drag-region {
  -webkit-app-region: drag;
  app-region: drag;
}

.window-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
